In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("/content/Students_Performance_knn.csv")

In [ ]:
df.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,NaN,completed,88,95,92
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        975 non-null    object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB
None

In [ ]:
new_df = df.dropna()

In [ ]:
print(new_df.head(5))

   gender race/ethnicity parental level of education         lunch  \
0  female        group B           bachelor's degree      standard
1  female        group C                some college      standard
2  female        group B             master's degree      standard
3    male        group A          associate's degree  free/reduced
4    male        group C                some college      standard

  test preparation course  math score  reading score  writing score
0                    none          72             72             74
1               completed          69             90             88
2                    none          90             95             93
3                    none          47             57             44
4                    none          76             78             75

In [ ]:
avg = df["math score"].mean()
print(avg)

66.089

In [ ]:
group = df.groupby(["gender"]).count()
print(group.head(10))

        race/ethnicity  parental level of education  lunch  \
gender
female             518                          518    507
male               482                          482    468

        test preparation course  math score  reading score  writing score
gender
female                      518         518            518            518
male                        482         482            482            482

In [ ]:
print(df.loc[4:10])

    gender race/ethnicity parental level of education         lunch  \
4     male        group C                some college      standard
5   female        group B          associate's degree      standard
6   female        group B                some college           NaN
7     male        group B                some college  free/reduced
8     male        group D                 high school  free/reduced
9   female        group B                 high school  free/reduced
10    male        group C          associate's degree      standard

   test preparation course  math score  reading score  writing score
4                     none          76             78             75
5                     none          71             83             78
6                completed          88             95             92
7                     none          40             43             39
8                completed          64             64             67
9                     none          38             60             50
10                    none          58             54             52

In [ ]:
print(df.sort_values(ascending = True,by = ["math score","reading score"]))

     gender race/ethnicity parental level of education         lunch  \
59   female        group C            some high school  free/reduced
980  female        group B                 high school  free/reduced
17   female        group B            some high school  free/reduced
787  female        group B                some college      standard
145  female        group C                some college  free/reduced
..      ...            ...                         ...           ...
625    male        group D                some college      standard
149    male        group E          associate's degree  free/reduced
458  female        group E           bachelor's degree      standard
916    male        group E           bachelor's degree      standard
962  female        group E          associate's degree      standard

    test preparation course  math score  reading score  writing score
59                     none           0             17             10
980                    none           8             24             23
17                     none          18             32             28
787                    none          19             38             32
145                    none          22             39             33
..                      ...         ...            ...            ...
625               completed         100             97             99
149               completed         100            100             93
458                    none         100            100            100
916               completed         100            100            100
962                    none         100            100            100

[1000 rows x 8 columns]

In [ ]:
x = 0
for val in df["math score"]:
  if val >= 100 or val < 0:
    val = 0
  else:
    val = 1
print(val)
print(df.loc[962])

1
gender                                     female
race/ethnicity                            group E
parental level of education    associate's degree
lunch                                    standard
test preparation course                      none
math score                                    100
reading score                                 100
writing score                                 100
Name: 962, dtype: object

In [ ]:
print(df.dtypes)

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

In [ ]:
print(df.lunch.dtypes)
print(df.dtypes[df.dtypes=="int64"])

object
math score       int64
reading score    int64
writing score    int64
dtype: object

In [ ]:
print(df.describe())

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [ ]:
print(df["math score"].astype(str))

0      72
1      69
2      90
3      47
4      76
       ..
995    88
996    62
997    59
998    68
999    77
Name: math score, Length: 1000, dtype: object

In [ ]:
new_df = pd.read_csv("/content/Students_Performance_mv.csv")

In [ ]:
new_df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [ ]:
new_df["parental level of education"].fillna("Some college",inplace = True)
new_df["lunch"].fillna("Standard",inplace = True)

In [ ]:
knn = new_df[58:83]
print(knn)

    gender race/ethnicity parental level of education         lunch  \
58    male        group D                Some college      standard
59  female        group C            some high school  free/reduced
60    male        group E           bachelor's degree  free/reduced
61    male        group A            some high school  free/reduced
62    male        group A          associate's degree  free/reduced
63  female        group C          associate's degree      standard
64  female        group D            some high school      standard
65    male        group B            some high school      standard
66    male        group D            some high school  free/reduced
67  female        group C                some college      standard
68    male        group B          associate's degree  free/reduced
69  female        group C          associate's degree      standard
70  female        group D                some college  free/reduced
71    male        group D                some college      standard
72  female        group A          associate's degree  free/reduced
73    male        group C            some high school  free/reduced
74    male        group C            some high school      standard
75    male        group B          associate's degree  free/reduced
76    male        group E            some high school      standard
77    male        group A                Some college      Standard
78  female        group D            some high school      standard
79  female        group E             master's degree      standard
80  female        group B          associate's degree      standard
81    male        group B                 high school  free/reduced
82    male        group A                some college  free/reduced

   test preparation course  math score  reading score  writing score
58               completed          58             59             58
59                    none           0             17             10
60               completed          79             74             72
61                    none          39             39             34
62                    none          62             61             55
63                    none          69             80             71
64                    none          59             58             59
65                    none          67             64             61
66                    none          45             37             37
67                    none          60             72             74
68                    none          61             58             56
69                    none          39             64             57
70               completed          58             63             73
71               completed          63             55             63
72                    none          41             51             48
73                    none          61             57             56
74                    none          49             49             41
75                    none          44             41             38
76                    none          30             26             22
77               completed          80             78             81
78               completed          61             74             72
79                    none          62             68             68
80                    none          47             49             50
81                    none          49             45             45
82               completed          50             47             54

In [ ]:
math_mean = new_df["math score"].mean()
new_df['math score'].fillna(math_mean,inplace=True)
print(math_mean)
print(new_df.loc[40:51])

66.089
    gender race/ethnicity parental level of education         lunch  \
40    male        group C          associate's degree  free/reduced
41  female        group C          associate's degree      standard
42  female        group B          associate's degree      standard
43    male        group B                some college  free/reduced
44  female            NaN          associate's degree  free/reduced
45    male        group B          associate's degree      standard
46  female        group A          associate's degree      standard
47  female        group C                 high school      standard
48  female        group D          associate's degree  free/reduced
49    male        group C                 high school      standard
50    male        group E                some college      standard
51    male        group E          associate's degree  free/reduced

   test preparation course  math score  reading score  writing score
40                    none          55             61             54
41                    none          58             73             68
42                    none          53             58             65
43               completed          59             65             66
44                    none          50             56             54
45                    none          65             54             57
46               completed          55             65             62
47                    none          66             71             76
48               completed          57             74             76
49               completed          82             84             82
50                    none          53             55             48
51               completed          77             69             68

In [ ]:
max_fil = new_df["reading score"].max()
new_df["reading score"].fillna(max_fil,inplace=True)
print(max_fil)
print(new_df.head(10))

100
   gender race/ethnicity parental level of education         lunch  \
0  female        group B           bachelor's degree      standard
1  female        group C                some college      standard
2  female        group B             master's degree      standard
3    male        group A          associate's degree  free/reduced
4    male        group C                some college      standard
5  female        group B          associate's degree      standard
6  female        group B                some college      standard
7    male        group B                some college  free/reduced
8    male        group D                 high school  free/reduced
9  female        group B                 high school  free/reduced

  test preparation course  math score  reading score  writing score
0                    none          72             72             74
1               completed          69             90             88
2                    none          90             95             93
3                    none          47             57             44
4                    none          76             78             75
5                    none          71             83             78
6               completed          88             95             92
7                    none          40             43             39
8               completed          64             64             67
9                    none          38             60             50